<div class="container">
  <div id="center">
    <center><h2><u><i></i> <%=@user.username%>'s Game Profile</u></h2></center>
  </div>

<!--will need to include game info here how many games the user has played? their results?  -->
</div>
